<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inter Solar CAD Admin Page</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/img/favicon.ico" />
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Admin/css/animate.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <link href="~/Admin/css/style.css" rel="stylesheet">
</head>

<body class="pace-done">

    <div id="wrapper" style="width:100%">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">

                                         <strong class="font-bold">InterSolarCAD </strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="active">
                        <a href="~/AdminAboutUs"><i class="fa fa-bullhorn" data-toggle="tooltip" data-placement="top" title="About us"></i> <span class="nav-label">About us</span> </a>
                        <a href="~/AdminServices"><i class="fa fa-asterisk" aria-hidden="true" data-toggle="tooltip" data-placement="Services" title="ContactUs"></i> <span class="nav-label">Services</span> </a>
                        <a href="~/AdminTours"><i class="fa fa-paper-plane" aria-hidden="true" data-toggle="tooltip" data-placement="Messages" title="Messages"></i> <span class="nav-label">Tours</span> </a>
                        <a href="~/AdminPartners"><i class="fa fa-users" aria-hidden="true" data-toggle="tooltip" data-placement="Messages" title="Messages"></i> <span class="nav-label">Partners</span> </a>
                        <a href="~/AdminPageContents"><i class="fa fa-desktop" aria-hidden="true" data-toggle="tooltip" data-placement="PageContents" title="PageContents"></i> <span class="nav-label">Page contents</span> </a>
                        <a href="~/SliderImages"><i class="fa fa-image" aria-hidden="true" data-toggle="tooltip" data-placement="SliderImages" title="Slider Images"></i> <span class="nav-label">Slider images</span> </a>
                        <a href="~/AdminContactUs"><i class="fa fa-phone" aria-hidden="true" data-toggle="tooltip" data-placement="ContactUs" title="ContactUs"></i> <span class="nav-label">ContactUs</span> </a>
                        <a href="~/AdminTestimonials"><i class="fa fa-comment" aria-hidden="true" data-toggle="tooltip" data-placement="Testimonials" title="Testimonials"></i> <span class="nav-label">Testimonials</span> </a>
                        <a href="~/AdminContactForms"><i class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" data-placement="Messages" title="Messages"></i> <span class="nav-label">Messages</span> </a>
                        <a href="~/News"><i class="fa fa-newspaper-o" aria-hidden="true" data-toggle="tooltip" data-placement="News" title="News"></i> <span class="nav-label">News</span> </a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <button class="btn btn-warning btn-circle btn-lg" type="submit" title="Logout" style="margin-top:5px">
                                    <i class="fa fa-times"></i>
                                </button>

                            }
                        </li>
                    </ul>
                    <div class="form-group form-group col-md-offset-5">
                        <h2>Inter Solar CAD Admin Page</h2>
                    </div>

                </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center m-t-lg">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Admin/js/jquery-2.1.1.js"></script>
    <script src="~/Admin/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
