
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta property="og:title" content="InterSolarCAD" />
    <meta property="og:description" content="Solar Panel Architecture and Design" />
    <meta property="og:url" content="InterSolarCAD.com" />
    <meta property="og:image" content="../@Model.PageContents.LogoURL">


    <title>@Model.PageContents.Title</title>
    <link rel="shortcut icon" href="../fav.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css">
</head>

@*<body>
    <header id="nav-1">
        <nav class="navbar d-flex align-items-center">
            <div class="container d-flex justify-content-center align-items-center justify-content-lg-between">
                <div class="menu-burger d-lg-none">
                    <img src="../assets/img/hamburger.svg" alt="">
                </div>
                <a class="navbar-brand" href="#"><img src="../@Model.PageContents.LogoURL" alt=""></a>
                <div class="d-none d-lg-block">
                    <ul class="navbar-nav d-flex">
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-1">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-2">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-3">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-4">Out Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-5">Vacancy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-for-section="#nav-6">Contact Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>*@
